extends layout

block content
  nav(id="navbar" class="nav")
    ul(class="nav-list")
      li
        a(href="#welcome-section") About
      li
        a(href="#projects") Work
      li
        a(href="#contact") Contact

  section#welcome-section.welcome-section
    h1 Hey I am Kevin Lin
    p a web developer

  section#projects.projects-section
    h2.projects-section-header These are some of my projects
    .projects-grid
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/zNqgVx" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/tribute.jpg" alt="project")
        p.project-title
         span.code &lt;
         | Tribute Page
         span.code /&gt;
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/qRZeGZ" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/random-quote-machine.png" alt="project")
        p.project-title
         span.code &lt;
         | Random Quote Machine
         span.code /&gt;
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/wgGVVX" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/calc.png" alt="project")
        p.project-title
          span.code &lt;
          | JavaScript Calculator
          span.code /&gt;
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/mVEJag" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/map.jpg" alt="project")
        p.project-title
          span.code &lt;
          | Map Data Across the Globe
          span.code /&gt;
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/wGqEga" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/wiki.png" alt="project")
        p.project-title
          span.code &lt;
          | Wikipedia Viewer
          span.code /&gt;
      a.project.project-tile(href="https://codepen.io/freeCodeCamp/full/KzXQgy" target="_blank")
        img.project-image(src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/tic-tac-toe.png" alt="project")
        p.project-title
          span.code &lt;
          | Tic Tac Toe Game
          span.code /&gt;
    a.btn.btn-show-all(href="https://codepen.io/FreeCodeCamp/"  target="_blank") 
      | Show all
      i.fas.fa-chevron-right
  
  section#contact.contact-section
    .contact-section-header
      h2 Let's work together...
      p How do you take your coffee?
    .contact-links
      a.btn.contact-details(href="https://facebook.com/freecodecamp" target="_blank")
        i.fab.fa-facebook-square  Facebook
      a#profile-link.btn.contact-details(href="https://github.com/freecodecamp" target="_blank")
        i.fab.fa-github  GitHub
      a.btn.contact-details(href="https://twitter.com/freecodecamp" target="_blank")
        i.fab.fa-twitter  Twitter
      a.btn.contact-details(href="mailto:example@example.com")
        i.fas.fa-at  Send a mail
      a.btn.contact-details(href="tel:555-555-5555")
        i.fas.fa-mobile-alt  Call me

  footer
    p **This is just a fake portfolio. All the projects and contact details given are not real.
    p © Created for <a href="https://www.freecodecamp.com/" target="_blank">freeCodeCamp</a> 
      i.fab.fa-free-code-camp

