<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %link( href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    %link( rel="stylesheet" href="/styles/style.css")
    %title Kevin Lin
  %body( data-barba="wrapper")
    %main( data-barba="container" data-barba-namespace="home")
      .container
        .left
          #toggleIcon(onclick="menuToggle()")
          %h2
            %span K
            %span e
            %span v
            %span i
            %span n&nbsp&nbsp
            %span l
            %span i
            %span n
          .loader
            %span.l A&nbsp&nbsp
            %span.l W
            %span.l e
            %span.l b&nbsp&nbsp
            %span.l D
            %span.l e
            %span.l v
            %span.l e
            %span.l l
            %span.l o
            %span.l p
            %span.l e
            %span.l r
        .right
          .navbar#menu-overlay
            %ul
              %li
                %a(href='/pages/resume.html' data-text='resume') resume
              %li
                %a(href='/pages/about.html' data-text='About') About
              %li
                %a(href='/pages/project.html' data-text='Projects') Projects
              %li
                %a(href='/pages/contact.html' data-text='Contact') Contact
          .social
            %ul
              %li
                %a(href="https://my.indeed.com/p/kevinl-gdyuyaa")
                  %span.iconify(data-icon='cib:indeed' data-inline='false')
              %li
                %a(href="https://leetcode.com/devonlin101")
                  %span.iconify(data-icon='simple-icons:leetcode' data-inline='false')
              %li
                %a(href="https://github.com/devonlin")
                  %span.iconify(data-icon='ant-design:github-filled' data-inline='false')
              %li
                %a(href="https://codepen.io/devonlin")
                  %span.iconify(data-icon='akar-icons:codepen-fill' data-inline='false')
        %footer
          %small all copyright reserved @dl101 llc
      #background-0
        .bubble.x1
        .bubble.x2
        .bubble.x3
        .bubble.x4
        .bubble.x5
        .bubble.x6
        .bubble.x7
        .bubble.x8
        .bubble.x9
        .bubble.x10

    %script(src='./script.js')
    %script(src='https://code.iconify.design/1/1.0.7/iconify.min.js')
