* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #2e2e2e;
  flex-wrap: wrap;
}
.container0 {
  max-width: 62rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  position: relative;
  margin: 20px 0;
  width: 19rem;
  height: 25.5rem;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 2s;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}
.card:hover {
  z-index: 1000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.card .cover {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transition: 1s;
  box-sizing: border-box;
}
.card .imgBox {
  position: relative;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.1rem;
  width: 18.7rem;
  height: 24.8rem;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}
.card .imgBox p {
  padding: 3rem;
}
.card:hover .imgBox {
  transform: rotateY(-135deg);
}
.card .imgBox .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  margin: 1rem;
}
@keyframes animate {
  from {
    width: 0;
  }
}
.container .skills:nth-child(1) .percent .progress {
  background: linear-gradient(45deg, #ffee54, #ff00ca);
}
.container .skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.container .skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
}
.container .skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #22ffde, #2196f3);
}
.container {
  width: 62rem;
}
.container .box {
  width: 25%;
  float: left;
}
.container .box h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.container .box .chart {
  position: relative;
  width: 11.25rem;
  height: 11.25rem;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 11.25rem;
  color: #fff;
}
.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}
ul {
  position: fixed;
  bottom: 0.12rem;
  right: 0.12rem;
  z-index: 999;
}
ul li {
  list-style: none;
  width: 4rem;
  height: 4rem;
  background: #262626;
  margin: 0 0.6rem;
  border-radius: 50%;
  transition: 0.5s;
}
ul li:hover {
  background: #0070ff;
}
ul li span {
  position: absolute;
  width: 1.29rem;
  height: 1.29rem;
  border: 0.25rem solid #fff;
  transition: 0.5s;
}
ul li.prev span {
  top: 50%;
  left: 40%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}
ul li.prev:hover span {
  left: 30%;
}
ul li.prev span:before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.25rem;
  background: #fff;
  transform-origin: left;
  transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
  transition: 0.5s;
}
ul li.prev:hover span:before {
  transform: rotate(45deg) translate(-2px, -1px) scaleX(1);
}
