* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #2e2e2e;
}
.container0 {
  max-width: 62rem;
  margin: 6rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  position: relative;
  margin: 20px 0;
  width: 19rem;
  height: 25.2rem;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}
.card:hover {
  z-index: 1000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.card:hover .cover {
  display: none;
}
.card .cover {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .imgBox {
  position: relative;
  background: #333;
  color: #fff;
  width: 18.7rem;
  height: 24.8rem;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}
.card:hover .imgBox {
  transform: rotateY(-135deg);
}
.card .imgBox .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  margin: 1rem;
}
.container {
  position: relative;
  width: 40rem;
}
.container .skills {
  position: relative;
  display: flex;
  padding: 1.2rem 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
}
.container .skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.container .skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.container .skills .value {
  position: relative;
  width: 40px;
  text-align: left;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.container .skills .percent {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.container .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: animate 4s ease-in-out forwards;
}
@keyframes animate {
  from {
    width: 0;
  }
}
.container .skills:nth-child(1) .percent .progress {
  background: linear-gradient(45deg, #ffee54, #ff00ca);
}
.container .skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.container .skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
}
.container .skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #22ffde, #2196f3);
}
ul {
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 999;
}
ul li {
  list-style: none;
  width: 5rem;
  height: 5rem;
  background: #262626;
  margin: 0 0.6rem;
  border-radius: 50%;
  transition: 0.5s;
}
ul li:hover {
  background: #0070ff;
}
ul li span {
  position: absolute;
  width: 1.29rem;
  height: 1.29rem;
  border: 4px solid #fff;
  transition: 0.5s;
}
ul li.prev span {
  top: 50%;
  left: 40%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}
ul li.prev:hover span {
  left: 30%;
}
ul li.prev span:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background: #fff;
  transform-origin: left;
  transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
  transition: 0.5s;
}
ul li.prev:hover span:before {
  transform: rotate(45deg) translate(-2px, -1px) scaleX(1);
}
