body {
  background: #383838;
  font-size: 0.88rem;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.swiper-container {
  width: 100%;
  padding-top: 3.1rem;
  padding-bottom: 3.1rem;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 28rem;
  background: #fff;
}
.card {
  position: relative;
  background: #262626;
  width: 25rem;
  height: 28rem;
  margin: 0 auto;
}
.card .content {
  background: #fff;
  color: #000;
  width: 25rem;
  height: 15.8rem;
  padding: 1.8rem;
  box-sizing: border-box;
}
.card .content a {
  display: inline-block;
  margin: 0.625rem 0 0;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border: 0.125rem solid #262626;
  color: #262626;
  font-weight: 600;
}
.card .sliderText {
  position: relative;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.card .sliderText h3 {
  color: #fff;
  font-size: 3em;
}
.swiper-slide:nth-child(1) .sliderText {
  background: #000;
}
.swiper-slide:nth-child(2) .sliderText {
  background: #2196f3;
}
.swiper-slide:nth-child(3) .sliderText {
  background: #c3d41a;
}
.swiper-slide:nth-child(4) .sliderText {
  background: #2196f3;
}
.swiper-slide:nth-child(5) .sliderText {
  background: #ff9800;
}
.swiper-slide:nth-child(6) .sliderText {
  background: #c33ada;
}
ul {
  /*{{{*/
  position: fixed;
  bottom: 0.125rem;
  right: 0.125rem;
  z-index: 999;
}
ul li {
  list-style: none;
  width: 4rem;
  height: 4rem;
  background: #262626;
  margin: 0 0.6rem;
  border-radius: 50%;
  transition: 0.5s;
}
ul li:hover {
  background: #0070ff;
}
ul li span {
  position: absolute;
  width: 1.29rem;
  height: 1.29rem;
  border: 4px solid #fff;
  transition: 0.5s;
}
ul li.prev span {
  top: 50%;
  left: 55%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}
ul li.prev:hover span {
  left: 50%;
}
ul li.prev span:before {
  content: "";
  position: absolute;
  width: 2.3rem;
  height: 0.25rem;
  background: #fff;
  transform-origin: left;
  transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
  transition: 0.5s;
}
ul li.prev:hover span:before {
  transform: rotate(45deg) translate(-2px, -1px) scaleX(1);
} /*}}}*/
